<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hello Adonis</title>
</head>
<body>
    
  <div id="root"></div>

</body>
  {{script('dist/index.js')}}
</html>
